.form-group{padding-bottom:0;margin:0 0 15px 0}
.elsetext{top:0;color:#adadad;font-size:20px}
.elseview{height:150px}
.tubiao{background-color:transparent;font-size:100px;color:#adadad;width:100px;height:100px}
.view{padding-top:70px;padding-bottom:80px}
.video_view{width:100%;max-height:450px;min-height:300px}
.image_view{max-width:100%;max-height:450px;min-height:300px}
.image{max-width:100%;max-height:450px}
.nav-tabs{background:#fff}
.nav-tabs>li>a{color:#000;border:0;margin:0}
.nav-tabs>li>a:hover{background-color:transparent;border:0}
.nav-tabs>li>a,.nav-tabs>li>a:focus,.nav-tabs>li>a:hover{background-color:transparent!important;border:0!important;color:#222!important;font-weight:500}
.nav-tabs>li.disabled>a,.nav-tabs>li.disabled>a:hover{color:rgba(255,255,255,.500)}
.nav-tabs>li.active{background-color:#ddd;border-bottom-color:#000}
.nav-tabs>li.active>a{border-bottom-color:#000}
.form-group label.control-label{font-size:16px;color:#333}
.fileinfo-table{max-width:80%}
@media (max-width:767px){.fileinfo-table{max-width:100%}
}
.progress{height:20px;margin-bottom:10px}
.filename{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.aplayer .aplayer-pic{height:100px;width:100px}
.aplayer .aplayer-info .aplayer-music .aplayer-title{font-size:18px}
.aplayer .aplayer-info{margin-left:100px;padding:25px 7px 0 10px;height:66px;box-sizing:border-box}
.table>tbody>tr>td{max-width:360px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
